@import url('https://fonts.googleapis.com/css?family=Share+Tech+Mono');

body {
  font-family: 'Share Tech Mono', monospace;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  color: #FFF;
  background-color: #202636;
}

h1 {
  margin: 5px;
  text-align: center;
}

.controls {
  display: flex;
  justify-content: center;
  margin: 30px 5px;
}

.controls .btn {
  width: 100px;
  height: 50px;
  margin: 0px 20px 0px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.board {
  width: 800px;
  height: 800px;
  display: flex;
  flex-wrap: wrap;
}

.row {
  width: 800px;
  height: 15px;
  display: flex;
}

.cell {
  width: 15px;
  height: 15px;
  border: 0.5px solid #55648e;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.07s ease-out;
}

.footer {
  margin-top: 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.footer a {
  margin-top: 10px;
  color: #01D0F8;
  text-decoration: none;
}
